{% extends 'base.html.twig' %}

{% block title %}CompanyCrters index{% endblock %}

{% block body %}
    <h1>CompanyCrters index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Langages</th>
                <th>Salaire</th>
                <th>Location</th>
                <th>ExperienceYear</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company_crter in company_crters %}
            <tr>
                <td>{{ company_crter.id }}</td>
                <td>{{ company_crter.langages }}</td>
                <td>{{ company_crter.salaire }}</td>
                <td>{{ company_crter.location }}</td>
                <td>{{ company_crter.experienceYear }}</td>
                <td>
                    <a href="{{ path('app_company_crters_show', {'id': company_crter.id}) }}">show</a>
                    <a href="{{ path('app_company_crters_edit', {'id': company_crter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_company_crters_new') }}">Create new</a>
{% endblock %}
