{% extends 'base.html.twig' %}

{% block title %}New ProfilsDev{% endblock %}

{% block body %}

   <!-- Begin page -->
	<div id="layout-wrapper">

		<header id="page-topbar">
			<div class="layout-width">
				<div class="navbar-header">
					<div
						class="d-flex">
						<!-- LOGO -->
						<div class="navbar-brand-box horizontal-logo">
							<a href="index.html" class="logo logo-dark">
								<span class="logo-sm">
									<img src=" {{ asset('assets/images/logo-sm.png') }}" alt="" height="22">
								</span>
								<span class="logo-lg">
									<img src=" {{ asset('assets/images/logo-dark.png') }}" alt="" height="17">
								</span>
							</a>

							<a href="index.html" class="logo logo-light">
								<span class="logo-sm">
									<img src=" {{ asset('assets/images/logo-sm.png') }}" alt="" height="22">
								</span>
								<span class="logo-lg">
									<img src=" {{ asset('assets/images/logo-light.png') }}" alt="" height="17">
								</span>
							</a>
						</div>

						<button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger material-shadow-none" id="topnav-hamburger-icon">
							<span class="hamburger-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</button>


						
					</div>

					<div class="d-flex align-items-center">

						


						


						<div class="d-flex align-items-center">


						<div class="dropdown ms-sm-3 header-item topbar-user">
							<button type="button" class="btn material-shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="d-flex align-items-center">
									<img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg" alt="Header Avatar">
									<span class="text-start ms-xl-2">
										<span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{ profils_company.nom | default(user.email) }}</span>
										<span class="d-none d-xl-block ms-1 fs-12 user-name-sub-text">Dévéloppeur</span>
									</span>
								</span>
							</button>
							<div
								class="dropdown-menu dropdown-menu-end">
								<!-- item-->
								<h6 class="dropdown-header">Bienvenue</h6>
								<a class="dropdown-item" href="{{ url('app_profil')}}">
									<i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i>
									<span class="align-middle">Profile</span>
								</a>
								<a class="dropdown-item" href="{{ url('app_poste_critere') }}">
									<i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i>
									<span class="align-middle">Mes Offres</span>
								</a>
								<a class="dropdown-item" href="{{ url('app_profils_dev_index') }}">
									<i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i>
									<span class="align-middle">Noter un developpeur</span>
								</a>
								<a class="dropdown-item" href="{{ url('app_logout') }}">
									<i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i>
									<span class="align-middle" data-key="t-logout">Deconnexion</span>
								</a>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</header>

		<!-- removeNotificationModal -->
		<div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
					</div>
					<div class="modal-body">
						<div class="mt-2 text-center">
							<lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
							<div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
								<h4>Are you sure ?</h4>
								<p class="text-muted mx-4 mb-0">Are you sure you want to remove this Notification ?</p>
							</div>
						</div>
						<div class="d-flex gap-2 justify-content-center mt-4 mb-2">
							<button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn w-sm btn-danger" id="delete-notification">Yes, Delete It!</button>
						</div>
					</div>

				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<!-- ========== App Menu ========== -->
		<div
			class="navbar-menu">
			<!-- LOGO -->
			<div
				class="navbar-brand-box">
				<!-- Dark Logo-->
				<a href="index.html" class="logo logo-dark">
					<span class="logo-sm">
						<img src=" {{ asset('assets/images/logo-sm.png') }}" alt="" height="22">
					</span>
					<span class="logo-lg">
						<img src=" {{ asset('assets/images/logo-dark.png') }}" alt="" height="17">
					</span>
				</a>
				<!-- Light Logo-->
				<a href="index.html" class="logo logo-light">
					<span class="logo-sm">
						<img src=" {{ asset('assets/images/logo-sm.png') }}" alt="" height="22">
					</span>
					<span class="logo-lg">
						<img src=" {{ asset('assets/images/logo-light.png') }}" alt="" height="17">
					</span>
				</a>
				<button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
					<i class="ri-record-circle-line"></i>
				</button>
				<div id="two-column-menu"></div>
				<ul class="navbar-nav" id="navbar-nav"></ul>
				<div id="scrollbar">
					<div></div>
					<!-- Sidebar -->
				</div>
			</div>

		</div>
		<!-- Left Sidebar End -->
		<!-- Vertical Overlay-->
		<div></div>

		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
			<div class='main-content'>

				<div class="page-content"> <div class="container-fluid">

					
    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Completer votre profil</h4>
                                    <div class="flex-shrink-0">
                                        <div class="form-check form-switch form-switch-right form-switch-md">
                                            <a href="{{ path('app_postes_index') }}" class="btn btn-outline-warning material-shadow-none my-3" >back to list</a>
                                        </div>
                                    </div>
                                </div><!-- end card header -->
                                <div class="card-body">
                                    <div class="live-preview">
                                    {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        <div class="text-end">
                                            <button class="btn btn-primary material-shadow-none my-3">{{ button_label|default('Ajouter') }}</button>
                                        </div>
                                    {{ form_end(form) }}
                                        <!--end row-->
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                

				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->
		</div>
		<!-- end main content-->

	</div>
	<!-- END layout-wrapper -->


	<!-- JAVASCRIPT -->
	<script src=" {{ asset('assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script src=" {{ asset('assets/libs/simplebar/simplebar.min.js') }}"></script>
	<script src=" {{ asset('assets/libs/node-waves/waves.min.js') }}"></script>
	<script src=" {{ asset('assets/libs/feather-icons/feather.min.js') }}"></script>
	<script src=" {{ asset('assets/js/pages/plugins/lord-icon-2.1.0.js') }}"></script>
	<script src=" {{ asset('assets/js/plugins.js') }}"></script>

	<!-- profile-setting init js -->
	<script src=" {{ asset('assets/js/pages/profile-setting.init.js') }}"></script>

	<!-- App js -->
	<script src=" {{ asset('assets/js/app.js') }}"></script>





{% endblock %}
