{% extends 'base.html.twig' %}

{% block title %}New Postes{% endblock %}

{% block body %}
   

   <!-- Begin page -->
	<div id="layout-wrapper">

		<header id="page-topbar">
			<div class="layout-width">
				<div class="navbar-header">
					<div
						class="d-flex">
						<!-- LOGO -->
						<div class="navbar-brand-box horizontal-logo">
							<a href="index.html" class="logo logo-dark">
								<span class="logo-sm">
									<img src=" {{ asset('assets/images/logo-sm.png') }}" alt="" height="22">
								</span>
								<span class="logo-lg">
									<img src=" {{ asset('assets/images/logo-dark.png') }}" alt="" height="17">
								</span>
							</a>

							<a href="index.html" class="logo logo-light">
								<span class="logo-sm">
									<img src=" {{ asset('assets/images/logo-sm.png') }}" alt="" height="22">
								</span>
								<span class="logo-lg">
									<img src=" {{ asset('assets/images/logo-light.png') }}" alt="" height="17">
								</span>
							</a>
						</div>

						<button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger material-shadow-none" id="topnav-hamburger-icon">
							<span class="hamburger-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</button>


						<!-- App Search-->
						<form class="app-search d-none d-md-block">
							<div class="position-relative">
								<input type="text" class="form-control" placeholder="Search..." autocomplete="off" id="search-options" value="">
								<span class="mdi mdi-magnify search-widget-icon"></span>
								<span class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none" id="search-close-options"></span>
							</div>
							<div class="dropdown-menu dropdown-menu-lg" id="search-dropdown">
								<div
									data-simplebar style="max-height: 320px;">
									<!-- item-->
									<div class="dropdown-header">
										<h6 class="text-overflow text-muted mb-0 text-uppercase">Recent Searches</h6>
									</div>

									<div class="dropdown-item bg-transparent text-wrap">
										<a href="index.html" class="btn btn-soft-secondary btn-sm rounded-pill">how to setup
											<i class="mdi mdi-magnify ms-1"></i>
										</a>
										<a href="index.html" class="btn btn-soft-secondary btn-sm rounded-pill">buttons
											<i class="mdi mdi-magnify ms-1"></i>
										</a>
									</div>
									<!-- item-->
									<div class="dropdown-header mt-2">
										<h6 class="text-overflow text-muted mb-1 text-uppercase">Pages</h6>
									</div>

									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<i class="ri-bubble-chart-line align-middle fs-18 text-muted me-2"></i>
										<span>Analytics Dashboard</span>
									</a>

									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<i class="ri-lifebuoy-line align-middle fs-18 text-muted me-2"></i>
										<span>Help Center</span>
									</a>

									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<i class="ri-user-settings-line align-middle fs-18 text-muted me-2"></i>
										<span>My account settings</span>
									</a>

									<!-- item-->
									<div class="dropdown-header mt-2">
										<h6 class="text-overflow text-muted mb-2 text-uppercase">Members</h6>
									</div>

									<div
										class="notification-list">
										<!-- item -->
										<a href="javascript:void(0);" class="dropdown-item notify-item py-2">
											<div class="d-flex">
												<img src=" {{ asset('assets/images/users/avatar-2.jpg') }}" class="me-3 rounded-circle avatar-xs" alt="user-pic">
												<div class="flex-grow-1">
													<h6 class="m-0">Angela Bernier</h6>
													<span class="fs-11 mb-0 text-muted">Manager</span>
												</div>
											</div>
										</a>
										<!-- item -->
										<a href="javascript:void(0);" class="dropdown-item notify-item py-2">
											<div class="d-flex">
												<img src=" {{ asset('assets/images/users/avatar-3.jpg') }}" class="me-3 rounded-circle avatar-xs" alt="user-pic">
												<div class="flex-grow-1">
													<h6 class="m-0">David Grasso</h6>
													<span class="fs-11 mb-0 text-muted">Web Designer</span>
												</div>
											</div>
										</a>
										<!-- item -->
										<a href="javascript:void(0);" class="dropdown-item notify-item py-2">
											<div class="d-flex">
												<img src=" {{ asset('assets/images/users/avatar-5.jpg') }}" class="me-3 rounded-circle avatar-xs" alt="user-pic">
												<div class="flex-grow-1">
													<h6 class="m-0">Mike Bunch</h6>
													<span class="fs-11 mb-0 text-muted">React Developer</span>
												</div>
											</div>
										</a>
									</div>
								</div>

								<div class="text-center pt-3 pb-1">
									<a href="pages-search-results.html" class="btn btn-primary btn-sm">View All Results
										<i class="ri-arrow-right-line ms-1"></i>
									</a>
								</div>
							</div>
						</form>
					</div>

					<div class="d-flex align-items-center">

						<div class="dropdown d-md-none topbar-head-dropdown header-item">
							<button type="button" class="btn btn-icon btn-topbar material-shadow-none btn-ghost-secondary rounded-circle" id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bx bx-search fs-22"></i>
							</button>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-search-dropdown">
								<form class="p-3">
									<div class="form-group m-0">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
											<button class="btn btn-primary" type="submit">
												<i class="mdi mdi-magnify"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>


						<div class="dropdown ms-sm-3 header-item topbar-user">
							<button type="button" class="btn material-shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="d-flex align-items-center">
									<img class="rounded-circle header-profile-user" src=" {{ asset('assets/images/users/avatar-1.jpg') }}" alt="Header Avatar">
									<span class="text-start ms-xl-2">
										<span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{ profils_company.nom | default(user.email) }}</span>
										<span class="d-none d-xl-block ms-1 fs-12 user-name-sub-text">Entreprise</span>
									</span>
								</span>
							</button>
							
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- removeNotificationModal -->
		
		<!-- /.modal -->
		<!-- ========== App Menu ========== -->
		<div
			class="navbar-menu">
			<!-- LOGO -->
			<div
				class="navbar-brand-box">
				<!-- Dark Logo-->
				<a href="index.html" class="logo logo-dark">
					<span class="logo-sm">
						<img src=" {{ asset('assets/images/logo-sm.png') }}" alt="" height="22">
					</span>
					<span class="logo-lg">
						<img src=" {{ asset('assets/images/logo-dark.png') }}" alt="" height="17">
					</span>
				</a>
				<!-- Light Logo-->
				<a href="index.html" class="logo logo-light">
					<span class="logo-sm">
						<img src=" {{ asset('assets/images/logo-sm.png') }}" alt="" height="22">
					</span>
					<span class="logo-lg">
						<img src=" {{ asset('assets/images/logo-light.png') }}" alt="" height="17">
					</span>
				</a>
				<button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
					<i class="ri-record-circle-line"></i>
				</button>
				<div id="two-column-menu"></div>
				<ul class="navbar-nav" id="navbar-nav"></ul>
				<div id="scrollbar">
					<div></div>
					<!-- Sidebar -->
				</div>
			</div>

		</div>
		<!-- Left Sidebar End -->
		<!-- Vertical Overlay-->
		<div></div>

		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
			<div class='main-content'>

				<div class="page-content"> <div class="container-fluid">

					
    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Faire un postes</h4>
                                    <div class="flex-shrink-0">
                                        <div class="form-check form-switch form-switch-right form-switch-md">
                                            <a href="{{ path('app_postes_index') }}" class="btn btn-outline-warning material-shadow-none my-3" >back to list</a>
                                        </div>
                                    </div>
                                </div><!-- end card header -->
                                <div class="card-body">
                                    <div class="live-preview">
                                    {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        <div class="text-end">
                                            <button class="btn btn-primary material-shadow-none my-3">{{ button_label|default('Ajouter') }}</button>
                                        </div>
                                    {{ form_end(form) }}
                                        <!--end row-->
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                

				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->
		</div>
		<!-- end main content-->

	</div>
	<!-- END layout-wrapper -->


	<!-- JAVASCRIPT -->
	<script src=" {{ asset('assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script src=" {{ asset('assets/libs/simplebar/simplebar.min.js') }}"></script>
	<script src=" {{ asset('assets/libs/node-waves/waves.min.js') }}"></script>
	<script src=" {{ asset('assets/libs/feather-icons/feather.min.js') }}"></script>
	<script src=" {{ asset('assets/js/pages/plugins/lord-icon-2.1.0.js') }}"></script>
	<script src=" {{ asset('assets/js/plugins.js') }}"></script>

	<!-- profile-setting init js -->
	<script src=" {{ asset('assets/js/pages/profile-setting.init.js') }}"></script>

	<!-- App js -->
	<script src=" {{ asset('assets/js/app.js') }}"></script>
















    

{% endblock %}
