{% extends 'base.html.twig' %}

{% block title %}Langages index{% endblock %}

{% block body %}
    <h1>Langages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for langage in langages %}
            <tr>
                <td>{{ langage.id }}</td>
                <td>{{ langage.nom }}</td>
                <td>
                    <a href="{{ path('app_langages_show', {'id': langage.id}) }}">show</a>
                    <a href="{{ path('app_langages_edit', {'id': langage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_langages_new') }}">Create new</a>
{% endblock %}
